@charset "utf-8";
input {
  width: 100px;
  height: 30px;
  transition: 0.5s;
}
input:focus {
  background-color: #aaa;
  color: white;
  width: 200px;
  height: 80px;
  font-size: 30px;
}
#chk {
  width: 20px;
  height: 20px;
}
#chk:checked ~ input {
  /* 체크시 작아짐 */
  width: 50px;
  height: 50px;
}
#link {
  color: #333;
  text-decoration: none;
  transition: 0.3s;
}
#link:hover {
  background-color: lightblue;
  font-size: 50px;
  font-weight: bold;
  color: #fafafa;
  text-decoration: line-through;
  text-shadow: 2px 2px 5px black;
}
#link:active {
  background-color: blue;
}
p::selection {
  background-color: rgba(44, 153, 255, 0.5);
  color: blueviolet;
}
span {
  font-weight: 900;
  color: rgb(24, 134, 134);
  position: relative;
}
span::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0px;
  height: 3px;
  background: linear-gradient(to right, red, rgb(255, 251, 0));
  transition: width 0.3s ease-in-out;
}
p:hover span::after {
  width: 100%;
  transition: width 0.3s;
}
